<h1>Try Jsonify</h1>
<div id="try_jsonify">
  <textarea id='try_source' class='try-region' rows="30" cols="50" name="try_source">
json.hello 'world'
  </textarea>
  <pre id="try_result" class="try-region"></pre>
  <div class='clear'></div>
</div>
<%= render :partial => 'footer' %>