<div id='welcome'>
  <h1>Jsonify</h1>
  <h2>The flexible Ruby-based builder for JSON</h2>
  <p id='call-to-action'>
    <a href="examples">Check out the Examples</a><br/> then <br/><a href="try">Try it Yourself!</a>
  </p>
</div>