<h1>Jsonify Examples</h1>
<ul id="examples">
  <li>
    <div id='hello_world' class='example'>
      <h2>Hello World</h2>
      <a class='template' href='/examples/hello_world'>template</a>
      <a class='render' href='/examples/hello_world'>renders</a>
      <pre class="source language-ruby">
  <%= jsonify_content 'hello_world' %>
      </pre>
      <pre class='result language-javascript'></pre>
    </div>
  </li>
  <li>
    <div id='complex_object' class='example'>
      <h2>Complex Object</h2>
      <a class='template' href='/examples/complex_object'>template</a>
      <a class='render' href='/examples/complex_object'>renders</a>
      <pre class="source language-ruby">
  <%= jsonify_content 'complex_object' %>
      </pre>
      <pre class='result language-javascript'></pre>
    </div>
  </li>
  <li>
    <div id='array_of_objects' class='example'>
      <h2>Array of Objects</h2>
      <a class='template' href='/examples/array_of_objects'>template</a>
      <a class='render' href='/examples/array_of_objects'>renders</a>
      <pre class="source language-ruby">
  <%= jsonify_content 'array_of_objects' %>
      </pre>
      <pre class='result language-javascript'></pre>
    </div>
  </li>
</ul>