/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.snippet.min
 *= require_self
 *= require_tree . 
*/
$body-color: #375469;
$heading-bg: #F87171;

body {
  font-family: Courier;
  color: $body-color;
}
.clear {
  clear: both;
}

h1 {
  font-family: 'Love Ya Like A Sister', cursive;  
  text-align: center;
  font-size: 6em;
  margin-top: -10px;
  margin-bottom: -5px;
}

h2 {
  font-size: 2em;
  text-align:center;
}

div#footer {
  font-family: 'Love Ya Like A Sister', cursive;  
  width: 100%;
  text-align:center;
}

div#footer a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: dotted;
  color: #8B4799;  
}