// Place all the styles related to the examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.example {
  width: 100%;
  clear:both;
}

pre.source {
  width: 45%;
  float: left;
  display: none;
}

pre.result {
  float: right;
  width: 45%;
  display: none;
}

a.template {
  margin-left: 5%;
}

a.render {
  display: none;
  margin-left: 47%;
}

ul#examples > li {
  list-style-type: none;
  margin-left: -36px;
  margin-bottom: 20px;
}
