h1 {
  margin-top: 50px;
}

h2 {
  margin-top: 150px;
}
p {
  font-size: 2em;
  margin-top: 150px;
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;  
}

p a {
  text-decoration: none;
  color: #8B4799;
}